@import '/wp-content/plugins/wpp-ZF-Core/res/css/styles.less';

.icon-voting(@x: 0, @y: 0){
    .sprite-icon(url("../img/icons-vote.png"), 16px, 16px, 4, 1);
    .sprite-offset(@x, @y, 16px, 16px);
}

.brx-comments{
    display: block !important;
    h3{
        margin: 2em 0 1em;
        font-size: 14px;
        line-height: 14px;
    }
    
    .nopassword{
        display: none;
    }
    
    .nocomments{
        display: none;
    }
    
    .comment_list{
        .brx-comment{
            border-top: 1px gray dotted;
            padding: 0.5em 0;
            clear: both;

            .user_item{
                float: left;
                min-height: 24px;
                padding: 0;
                .box-sizing;
                
                .user_id{
                    display: none;
                }
                .user_link{
                    white-space: nowrap;
                    img.avatar{
                        position: absolute;
                        width: 48px;
                        height: auto;
                        border: 1px solid #dddddd;
                        .border-radius(3px);
                    }
                    .name{
                        line-height: 24px;
                        display: block;
                        margin-left:64px;
                        font-size: 13px;
                        font-weight: bold;
                    }                    
                }                 
            }
            
            .brx_single_spinner{
                float: left;
                font-size: 13px;
                margin-left: 2em;
                /*display: none;*/
                background-size: 16px 16px;
                background-position: 0 50%;
                padding-left: 20px;
                display: none;
            }
            
            .comment_date{
                min-height: 24px;
                line-height: 24px;
                text-align: right;
                font-size: 11px;
                float: right;
            }
            
            .comment_voting{
                min-height: 24px;
                /*clear: both;*/
                float: right;
                max-width: 100px;
                margin-right: 2em;
                line-height: 24px;
                
                /*position: absolute;*/
                .comment_karma{
                    display: inline-block;
                    font-size: 12px;
                    font-weight: bold;
                }
                .positive_karma{
                    color: #439c24;
                    
                }
                .negative_karma{
                    color: #a52727;
                    
                }
                .comment_karma_delta{
                    display: none;
                    .border-radius(2em);
                    color: white;
                    min-width: 2ex;
                    padding: 0 1ex;
                    /*text-align: center;*/
                    font-size: 12px;
                    /*vertical-align: middle;*/
                }
                .positive_karma_delta{
                    display: inline-block;
                    background-color: #439c24;
                }
                .negative_karma_delta{
                    display: inline-block;
                    background-color: #a52727;
                }
                .vote_up{
                    .icon-voting(0);
                    display: inline-block;
                    cursor: pointer;
                }
                .vote_down{
                    .icon-voting(1);
                    display: inline-block;
                    cursor: pointer;
                }
                .no_vote_up{
                    .icon-voting(2);
                    display: inline-block;
                    cursor: pointer;
                }
                .no_vote_down{
                    .icon-voting(3);
                    display: inline-block;
                    cursor: pointer;
                }
            }
                        
            .comment_content{
                /*float: left;*/
                clear: both;
                font-size: 13px;
                min-height: 33px;
                padding-left: 64px;
                margin-bottom: 24px;
                /*margin-right: 120px;*/

                .comment_reply_to{
                    float: left; 
                    margin-right: 1ex;
                }
                .comment_message{
                    white-space: pre-wrap;
                    display: inline;
                }
                .comment_unfold{
                    display: inline;
                    cursor: pointer;
                    text-decoration: underline;
                    color: cornflowerblue;
                    white-space: nowrap;
                }
            }
            .comment_status{
                margin-top: -24px;
                height: 24px;
                float: left;
                font-size: 11px;
                font-style: italic;
            }
            .comment_tools{
                margin-top: -24px;
                height: 24px;
                float: right;
                margin-right: 5px;
                display: none;
                font-size: 11px;

                .tool_link{
                    cursor: pointer;
                    margin-left: 1ex;
                }
                
                .tool_link_reply_to{
                    color: cornflowerblue;
                }
                .tool_link_edit{
                    color: dodgerblue;
                }
                .tool_link_delete{
                    color: maroon;
                }
                
            }
        
        }
        
        >.negative_karma{
            .comment_message{
                color: #aaaaaa;
            }
        }
        
        >.reply_to{
            background-color: #fafafa;
        }
        
        >.comment_refreshed{
            background-color: antiquewhite;;
        }
    }
    
    .brx-comment_editor{
        width: 100%;
        border-top: 1px gray dotted;
        padding: 0.5em 0;
        clear: both;
        margin: 0;
/*        margin: 0.5em 0;*/
        
        .form_field{
            float: left;
            margin-right: 1em;
            margin-bottom: 10px;
            
            label{
                display: none;
            }

            .form_field-input_box{
                input, textarea{
                    font-size: 13px;
                    border-color: #ccc;
                    padding: 2px;
                    margin-bottom: 0;
                    
                }
                .placeholder{
                    color: #888888;
                }
            }
            .form_field-tips{
                clear: both;
                text-align: right;
                font-size: 12px;
                font-style: italic;
                color: gray;
                height: 14px;
            }
            
            .form_field-tips_error{
                color: #CD0A0A;
            }
        }
        
        
        .field_comment{
            width: 100%;
            float: left;
            .box-sizing;
            
            label{
                display: none;
            }

            .form_field-input_box{
                textarea{
                    .box-sizing;
                    width: 100%;
                }
                
                textarea.ui-autocomplete-loading{
                    background-color: inherit;
                    background-repeat: no-repeat;
                    background-image: url('../img/spinner32x32.gif');
                    background-size: 15px 15px;
                    background-position: 99% 4px;
                }
                .placeholder{
                    color: #888888;
                }
            }
            .form_field-tips{
                clear: both;
                text-align: right;
                font-size: 12px;
                font-style: italic;
                color: gray;
                height: 14px;
            }
            
            .form_field-tips_error{
                color: #CD0A0A;
            }
        }
        
        .non_authorized_block{
            position: absolute;
            width: 230px;
            display: none;
        }
        
        .user_authorized_block{
            position: absolute;
            width: 64px;
            display: none;
            img.avatar{
                position: absolute;
                width: 48px;
                height: auto;
                border: 1px solid #dddddd;
                .border-radius(3px);

            }
        }
        
        .form_box-buttons{
            float: right;
            .box-sizing;
            text-align: right;
            /*width: 100px;*/
            
            .required_fields_note{
                display: none;
                float: left;
                span{
                    color: red;
                    font-weight: bold;
                }
            }
            
            button{
                margin-bottom: 4px;
                width: 100px;
                
            }
            .btn_save{
                /*width: 100px;*/
            }
            .btn_cancel{
                /*width: 100px;*/
                display: none;
            }
        }
    }
    
    .non_authorized{ /*editor*/
        padding-top: 1em;
        
        .non_authorized_block{
            display: block;
            
            .form_field{
                width:220px;

                .form_field-tips{
                    margin-right: 10px;
                }

            }
            div[check-required]{
                >.form_field-input_box{
                    display: inline;
                }
                >.form_field-input_box::after{
                    content: '*';
                    color: red;
                    font-weight: bold;
                    position: absolute;
                    margin-left: 3px;
                    margin-top: -0.5ex;
                    display: inline-block;
                    float: left;
                    width: -1px;
                    overflow: visible;
                }
            }
        }
        
        .field_comment{
            padding-left: 230px;
            .form_field-input_box{
                textarea{
                    min-height: 126px;
                }
            }
            
        }
        .form_box-buttons{
            /*padding-left: 230px;*/
            width: 100%;
            
            .required_fields_note{
                display: block;
            }
            
        }
    }
    
    .user_authorized{ /*editor*/
        /*padding-top: 1em;*/
        
        .user_authorized_block{
            display: block;
        }
        
        .field_comment{
            padding-left: 64px;
            margin-right: 115px;
            .form_field-input_box{
                textarea{
                    min-height: 50px;
                    height: 50px;
                }
            }
            
        }
        .form_box-buttons{
            /*padding-left: 230px;*/
            width: 100%;
                       
        }
    }
    
    
    .button_pane{
        border-top: 1px gray dotted;
        display: none;
        text-align: right;
        padding: 0.5em 0;
        min-height: 100px;
        button{

        }
        .btn_add_comment{
        }
        
    }
    
    .show_hidden_pane{
        border-top: 1px gray dotted;
        font-size: 12px;
        color: cornflowerblue;
        height: 20px;
        padding: 1ex 0;
        
        .link{
            float: left;
            cursor: pointer;
        }
        
        .shown_total{
            float: right;
        }
    }
}
